<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WinHRTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WinHRTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.15.1.0" newVersion="6.15.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.15.1.0" newVersion="6.15.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.2" newVersion="6.0.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <WinHRTool.Properties.Settings>
      <setting name="emailUser" serializeAs="String">
        <value />
      </setting>
      <setting name="emailPass" serializeAs="String">
        <value />
      </setting>
      <setting name="adPath" serializeAs="String">
        <value>OU=Users,OU=CardinalPeak,DC=cardinalpeak,DC=com</value>
      </setting>
      <setting name="adDomain" serializeAs="String">
        <value>cardinalpeak.com</value>
      </setting>
      <setting name="adUser" serializeAs="String">
        <value>cpsysadmin</value>
      </setting>
      <setting name="adPass" serializeAs="String">
        <value>4#a7yaof</value>
      </setting>
      <setting name="adPDC" serializeAs="String">
        <value>OS-DCPP102</value>
      </setting>
    </WinHRTool.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <WinHRTool.Properties.Settings>
      <setting name="harvestURL" serializeAs="String">
        <value>https://api.harvestapp.com/v2/users/</value>
      </setting>
      <setting name="snipeKey" serializeAs="String">
        <value>eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiIxIiwianRpIjoiOGZiOWFkMDkwYTYxYTJkNDk5NGNlODg5NTk0MGYzYzhjNzc5NDRhZTM3OTI0OTM3YjIwMGUwZTQ0ZmRhNDExODU4NjQxMjg2OTY2MzRjOTIiLCJpYXQiOjE2NDQ1MjgwNjAsIm5iZiI6MTY0NDUyODA2MCwiZXhwIjoyMjc1NjgwMDYwLCJzdWIiOiIxODkiLCJzY29wZXMiOltdfQ.y0L7iMyeR89N0oot-daTl42NmSWxjoWcrfXiQFpprB_TGJ9qTr0g0WWwJYEB2syrxOmVwZnxSzV1w6OxTbOArbixcTsL_Ra0IIYj66iyxiOhYr4n_aIy8PqVuAtZxqjPnHDE5BZDHzC7N0MUvplQAV752MCvCKUyVieia7sfxKl_voqfJT8bM-JD61q5s3af4dJXT1GG-e37TKZiM1VhJhd2u1t2-PEhecpn339cMEp-OHju50u_D-z_xdBb4r92Y_ktpr60-QndavazwTqsvyZRNzQ6SnGezWDKcNntq1N4G3Zrd-FxyCD0BgE1PD3iBnNP99-CMgCCeD9xhwl0C-_dgAZsPlcS7hO82qy63yPtzEF71efZkN8JmA5hbzOVOWHSdqN3HhJCHlQiNSPnT9b4U9E-Y4Em25yjMBiRYwkRAY3zNwryAStGwCBz0XPW19AvPTiD_5FvVkqfj9rVtT10TRcyRSOZQ4CI49oi7644XglAChspMXIfgsjHCG0zbB9X2tTsUebtOTEpYbAS0EA3OeaKhSUIOVyDq2z6iTf2a49p-MlLDEcVcL5-umknFwqLJBfOEJHVtz0lZB5kqqh2d-PiEfXsyQqlmo0IpDubqnrQtS6HfOQ6K5Hpdc_zDKhI6tUPVfpbE8IAdmmkhxwhZfRqfuCGcK473sU9ubE</value>
      </setting>
      <setting name="harvestKey" serializeAs="String">
        <value>Bearer 2915176.pt.Kc2sAv-Q394QYxFkjOxL6_Zpxu4GsDmpQ59SWjtv903-UOi0K15Eq03nQVX4XTGxzVQ6IhZW5YO0IxgzBStvyw</value>
      </setting>
      <setting name="snipeURL" serializeAs="String">
        <value>https://cardinalpeak.snipe-it.io/api/v1</value>
      </setting>
      <setting name="harvestID" serializeAs="String">
        <value>347970</value>
      </setting>
      <setting name="gcdsUser" serializeAs="String">
        <value>dkvpn</value>
      </setting>
      <setting name="gcdsPass" serializeAs="String">
        <value>!Tech2010!@</value>
      </setting>
      <setting name="lastpassURL" serializeAs="String">
        <value>https://lastpass.com/enterpriseapi.php</value>
      </setting>
      <setting name="lastpassID" serializeAs="String">
        <value>8252606</value>
      </setting>
      <setting name="lastpassKey" serializeAs="String">
        <value>4e3d05b80daf81ade27159c11ff9d8d20129bdb5100036a3ce99251704680e52</value>
      </setting>
      <setting name="twilioID" serializeAs="String">
        <value>AC7d8d843ce9d9c7783055ea0e871361f6</value>
      </setting>
      <setting name="twilioToken" serializeAs="String">
        <value>4dc116d8332935d8a4bd503664b9069b</value>
      </setting>
      <setting name="gmaillAppPass" serializeAs="String">
        <value>nwptaevfpsvxogwu</value>
      </setting>
    </WinHRTool.Properties.Settings>
  </applicationSettings>
</configuration>